.column {
  background-color: #4285F4;
  display: inline-block;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.dot {
  height: 4rem;
  width: 4rem;
  margin: 0.5rem;
  background-color: white;
  background-size: 100% auto;
  border-width: 0.25rem;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
}

.dot.red {
  background-color: #EA4335;
}

.dot.yellow {
  background-color: #FBBC05;
}

.dot.green {
  background-color: #34A853;
}

.dot.orange {
  background-color: #FF9900;
}

.dot.blue {
  background-color:  #4285F4;
}

.hide {
  display: none;
}

section.board {
  display: -webkit-flex;
  display: flex;
  max-width: 1000px;
}

.modal {
  max-height: calc(100% - 100px);
  position: fixed;
    top: 25%;
    left: 50%;
  transform: translate(-50%, -50%);
  padding: .5em;
  min-height: 5rem;
  min-width: 12rem;
  border-radius: 8px;
  border: 4px double black;
  background-color:  #4285F4;
}

input[type='number']{
  width: 2em;
}
